.nav-left{
     float: left;
     margin-top: 80;
    color:cyan;
}


.dropdown-menu{
    margin-left: -21px;
}

.view{
        margin-top: 93;
         float: left;
}

#cursor{
    cursor: pointer;
}

body{
    background-color:aquamarine;
}

#footer {
    position: fixed;
     bottom: 0;
     margin-left: 300px;
    width: 100%;
}

th
{
    padding:0 10px 0 10px;
}