



<div id="cursor">
   <!-- <div class="col-sm-9 col-md-9" style="background-color:pink;" ng-bind-html="aboutMyselfR | showInHtml"></div>-->     
  <table>
      <tr>
        <th><a href=""  ng-click="aboutMyself()"><strong>About Myself</strong></a></th>
        <th><a href=""  ng-click="aboutMyLastProject()">My Last Project</a></th>
        <th><a href=""  ng-click="aboutChallenging()">About Challenging Work</a></th>
         <th><a href=""  ng-click="questionsTobeAsked()">Questions To be Asked</a></th>
      </tr>
  </table>
</div>
 